.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  p{
    margin: 0;
  padding: 0;
  }

  gmpx-place-autocomplete {
    min-height: 40px !important;
    height: 40px !important;
    display: block;
  }
}
